* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#chatForm {
  position: fixed;
  bottom: 0px;
  width: 100%;

}
#chatForm input {
  width: 90%;
  line-height: 2.5em;
}
#chatForm button {
  width:9%;
  height: 2.5em;
  font-size:1em;
}

.container {
  min-width:500px;
}

#usersContainer {
  float:right;
  width:30%;
}

#users li:first-child{
  font-weight: bold;
  font-size: 1.2em;
}

#messagesContainer {
  float:left;
  width:69%;
}

ul {
  list-style-type:none;
}

#messages li:nth-child(odd) {
  background-color:#eee;
}
#messages li#left {
  color: #FF4136;
}

#messages li#joined {
  color: #2ECC40
}

#chat {
  display:none;
}

#loginContainer{
  width:100%;
}

#loginForm {
  height:50%;
}
