* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
form {
  position: fixed;
  bottom: 0px;
  width: 100%;

}
form input {
  width: 90%;
  line-height: 2.2em;
}
form button {
  width:9%;
  height: 2.2em;
  border: none;
}
